body {
    background-color: #F0D698;
	background-attachment: fixed;
	margin: 0px;
	font-family: "PT Sans", sans-serif;
}

a:hover {
	color: red;
	cursor:pointer;		
}

.header {
	width:100%;
	height:82px;
	/*background-image: url("../images/BackgroundTest.jpg");*/
	background-position: 50% 80%;
}

.header_left {
	margin-left: 5%;
	float: left;
	width: 30%;
	height: 80px;
	text-align: left;
}

.logo {
    margin-top: 20px;
    float:left;
    width:270px;
}

.menu {
	position: absolute;
	left: 50%;
	margin-right: 40px;
	float: right;
	width: 50%;
	height: 80px;
}

.menu_button {
 	background-color: transparent;
	color: black;
 	float:left;
 	width: 14%;
	height: 78px;
  	text-align: center;
  	padding-top: 20px;
  	margin-right:1%;
    font-size: 16px;
}

.first_button {
	margin-left: 5%;
	margin-right: 0%;
}

.modelling_button {
	margin-right:2%;
	margin-left:2%;
}

.menu_button:hover {
	color: #004D00;
	border-top: 4px solid #004D00;
}

.footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
	background-image: url(../images/footer_background.png);
	background-position: 0% 0%;
	font-weight: bold;
	font-size: 16px;
}

.footer_scroll {
	width: 100%;
	height: 100px;
	background-image: url(../images/footer_background.png);
	background-position: 0% 0%;
	font-weight: bold;
	font-size: 16px;
}

.footer_left {
	color: #333333;
	float: left;
	width: 50%;
	text-align: left;
}

.footer_right {
	color: #333333;
	float: right;
	width: 20%;
	text-align: right;
}

.ya_map {
	font-family: arial;
	font-size: 12px;
	color: #454545;
}
 
#map {
	width: 660px;
	height: 300px;
}






.block {
  display:inline-block;
  margin-left: 2%;
  padding: 30px 10px;*/
  width: 40%;
  height: 350px;
  text-align:center;
}

.block index_history_photo {
 display:block;
 float: center;
}

.block:hover {
  background-color: #AA3939;
}
