.photo_block {
  background-image: url(../images/new_background.jpg);
  background-size: cover;
  background-position: 100% 25%;
  width: 100%;
  height: 400px;
}

.helper_div {
  position:absolute;
  right: 10%;
  float: right;
  width: 35%;
  height:398px;
  /*padding-right: 10%;*/
}

.welcome {
  position:absolute;
  margin-top:100px;
  float:bottom;
  width:500px;
}

.quote {
  position:absolute;
  font-family: Helvetica;
  font-size: 70px;
  /*font-weight: bold;*/
  font-style: italic;
  color: white;
  float:center;
  padding-left: 50%;
  text-align:center;
  padding-top: 220px;
}

.index_history_photo {
    height: 350px;
    width: 350px;
    float: center;
    /*margin-left: 12%;*/
}
